subnet_id               = "/subscriptions/fbc2ec27-abcd-1234-abcd-1af8b4feac31/resourceGroups/rubrik_resources/providers/Microsoft.Network/virtualNetworks/rubrik_network/subnets/rubrik_subnet"
storage_acct_name       = "rubrikstorageacct"
storage_container       = "rubrik-cloudcluster"
subnet_snm              = "255.255.255.0"
subnet_gateway          = "10.0.0.1"
cluster_size            = 4
cluster_name            = "rubrik-cloudcluster"
azurerm_resource_group  = "rubrik_resources"
azurerm_location        = "UK West"
azurerm_rubrik_vhd_uri  = "https://rubrikstorageacct.blob.core.windows.net/rubrik-images/rubrik-4-1-0-EA2-1804-osDisk.a48bc901-34a3-4662-8ca2-c4759027eb8c.vhd"
admin_password          = "SuperSecretP@ssw0rd!"
admin_email_address     = "admin@demo.com"
ntp_servers             = "pool.ntp.org"
dns_servers             = "8.8.8.8\",\"8.8.4.4"
